.jobcard-bg-container {
  display: flex;
  flex-direction: column;
}

.job-card-item {
  background-color: #272727;
  border-radius: 10px;
}

.link {
  text-decoration: none;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.company-logo {
  height: 50px;
  width: 50px;
}
.title-rating-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 20px;
  color: #f1f5f9;
  font-weight: 500;
}

.rating {
  font-size: 15px;
  color: #f1f5f9;
  font-weight: 500;
  margin-top: -10px;
}

.employment-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.location-employmenttype-card {
  display: flex;
  gap: 10px;
}
.location {
  font-size: 12px;
  color: #cbd5e1;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.employmenttype {
  font-size: 12px;
  color: #cbd5e1;
  font-weight: 500;
  align-self: center;
}
.package {
  font-size: 12px;
  color: #cbd5e1;
  font-weight: 500;
}
.job-description-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.description-heading {
  font-size: 18px;
  color: #f1f5f9;
  font-weight: 500;
}

.description {
  font-size: 14px;
  color: #cbd5e1;
  font-weight: 500;
}

.star-icon {
  color: yellow;
  font-size: 17px;
}

/* Media queries for the Below medium size devices */

@media screen and (max-width: 767px) {
  .job-card-item {
    width: 400px;
    margin-left: -90px;
  }
  .company-logo {
    height: 30px;
    width: 30px;
  }
  .title {
    font-size: 16px;
  }
  .rating {
    font-size: 12px;
  }
  .star-icon {
    font-size: 12px;
  }
  .location {
    font-size: 10px;
  }
  .employmenttype {
    font-size: 10px;
  }
  .package {
    font-size: 10px;
  }
  .description-heading {
    font-size: 14px;
  }
  .description {
    font-size: 10px;
  }
}
