.filter-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #f1f5f9;
}
.filter-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-list {
  list-style: none;
  margin-left: -40px;
  margin-bottom: -10px;
}

.filter-item {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.filter-heading {
  font-size: 15px;
  margin-bottom: -10px;
  font-weight: 500;
}
.line {
  margin: 10px;
  border-bottom: 1px solid #6366f1;
}

.checkbox {
  height: 12px;
  width: 12px;
}

.radio {
  height: 12px;
  width: 12px;
}

.label {
  font-size: 12px;
  font-weight: normal;
}

/* Media queries for the below Medium size devices */

@media screen and (max-width: 767px) {
  .filter-container {
    gap: 2px;
  }
  .filter-card {
    gap: 2px;
  }
  .filter-heading {
    font-size: 13px;
    margin-bottom: -10px;
  }
  .filter-list {
    margin-left: -40px;
  }
  .checkbox {
    height: 10px;
    width: 10px;
  }

  .radio {
    height: 10px;
    width: 10px;
  }

  .label {
    font-size: 10px;
  }
}
