.login-bg-container {
  background-color: #000000;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #2c364c;
  border-radius: 10px;
  padding: 20px;
  gap: 12px;
  max-width: 600px;
  width: 400px;
}

.website-logo {
  height: 35px;
  width: 100px;
  align-self: center;
  margin: 20px;
}

.label {
  font-weight: bold;
  font-size: 12px;
  color: #cbd5e1;
}

.input {
  padding: 8px;
  color: #cbd5e1;
  font-size: 14px;
  border: 1px solid #64748b;
  background-color: transparent;
}

.input:focus {
  outline: none;
}

.submit-btn {
  background-color: #6366f1;
  color: #cbd5e1;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.error-msg {
  color: #ff0b37;
}

/* Media queries for below medium size devices */

@media screen and (max-width: 767px) {
  .login-bg-container {
    background-color: #000000;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-form {
    padding: 30px;
    gap: 12px;
    max-width: 500px;
    width: 350px;
  }
  .website-logo {
    height: 20px;
    width: 80px;
  }

  .label {
    font-size: 12px;
  }

  .input {
    font-size: 12px;
  }

  .input:focus {
    outline: none;
  }

  .submit-btn {
    font-size: 12px;
  }

  .error-msg {
    margin-top: -10px;
    font-size: 12px;
  }
}

/* Media queries for the above medium size devices */

@media screen and (min-width: 768px) {
  .login-bg-container {
    background-color: #000000;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-form {
    padding: 20px;
    gap: 12px;
    max-width: 650px;
    width: 450px;
  }
  .website-logo {
    height: 35pxpx;
    width: 100px;
  }

  .label {
    font-size: 14px;
  }

  .input {
    font-size: 14px;
  }

  .input:focus {
    outline: none;
  }

  .submit-btn {
    font-size: 14px;
    padding: 15px;
    margin-bottom: 10px;
  }

  .error-msg {
    margin-top: -10px;
    font-size: 14px;
  }
}
